.section {
  text-align: center;
  padding: 24px;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 100%;
  background-color: #f8fafc; /* slate-50 */
  border: 1px solid rgba(214, 181, 133, 0.2); /* gold-accent/20 */
  padding: 4rem 2rem 4rem 2rem; /* p-8 */
  border-radius: 0.125rem; /* rounded-sm */
  max-width: 42rem; /* max-w-2xl */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem; /* space-y-6 */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
  
}

@media (min-width: 768px) {
  .card {
    padding: 3rem; /* md:p-12 */
  }
}

.header{
  font-family: var(--font-lora);
  font-size: 2rem; /* text-lg */
  color: var(--color-navy-primary);
  font-weight: 600;
}

.logoContainer {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 999px;
  width: auto;
  height: auto;

}

.logoImage {
  z-index: 3;
  width: auto;
  height: auto;
  margin-top: 10px;
  max-width: 96px; /* Adjust based on preference */
  max-height: 96px;
  object-fit: contain;
}

.cover{
  position: absolute;
  top: 109px;
  left: 50%;
  transform: translateX(-50%);
  width: 56px;
  height: 16px;
  /*background-color: #f8fafc;*/
  z-index: 4;
}


.text {
  font-family: var(--font-mulish);
  color: rgba(0, 7, 27, 0.8); /* navy-deep/80 */
  line-height: 1.625; /* leading-relaxed */
  font-size: 0.8rem; /* text-sm */
}

.textWrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


@media (min-width: 768px) {
  .text {
    font-size: 1rem; /* md:text-base */
  }
}

.italic {
  font-style: italic;
}

.closing {
  font-family: var(--font-lora);
  font-size: 1.125rem; /* text-lg */
  color: var(--color-navy-primary);
  font-weight: 600;
}
