.container {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    height: 700px;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
}
